:root {
  --black: #171321;
  --plum: #99537d;
  --teal: #5a9599;
  --blue: #7cdee6;
  --pink: #e694c5;
  --tan: #e6ddaa;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --sans: "Oswald", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  color: var(--plum);
  font-size: var(--font-size);
  background: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header-img {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  width: 3%;
}
.header-div {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.bird {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 50px;
  height: 30px;
  background-color: black;
  border-radius: 50% 50% 0 0;
  transform: rotate(45deg);
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% {
    transform: translateX(-50px) rotate(45deg);
  }
  100% {
    transform: translateX(calc(100% + 50px)) rotate(45deg);
  }
}
#nav-bar {
  font-size: 20px;
  background: var(--tan);
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  list-style: none;
  padding-top: 20px;
}

li {
  margin: 0 10px;
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--sans);
  color: rgb(10, 1, 1);
  font-size: var(--font-size);
  flex-grow: 1;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: var(--tan);
  overflow-y: auto; /* enable vertical scrolling */
}

.projects {
  background: var(--plum);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  flex-grow: 1;
}

.project_item {
  flex: 1 0 20%;
  margin: 5px;
}

article {
  background: var(--plum);
}
