:root {
  --black: #171321;
  --plum: #99537d;
  --teal: #5a9599;
  --blue: #7cdee6;
  --pink: #e694c5;
  --tan: #e6ddaa;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --sans: "Oswald", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  color: var(--plum);
  font-size: var(--font-size);
  background: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header-img {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  width: 3%;
}
#header {
  position: relative;
  height: 200px; /* set the height to the size of your bird image */
}

#bird-img {
  position: absolute;
  top: 0;
  left: 0;
  animation: fly 5s infinite linear;
}

@keyframes fly {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
#nav-bar {
  font-size: 20px;
  background: var(--tan);
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  list-style: none;
  padding-top: 20px;
}

li {
  margin: 0 10px;
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--sans);
  color: rgb(10, 1, 1);
  font-size: var(--font-size);
  flex-grow: 1;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: var(--tan);
  overflow-y: auto; /* enable vertical scrolling */
}

.projects {
  background: var(--plum);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  flex-grow: 1;
}

.project_item {
  flex: 1 0 20%;
  margin: 5px;
}

article {
  background: var(--plum);
}
